/*.i
/*.l2
/*.o
/bootstrap
/object-data-structures
/clean-data-structures
/file-dependencies-data-structures
/library-data-structures
/libgenerated-data-structures.a
/void_ptr_to_unsigned_int_map.c
/void_ptr_to_unsigned_int_map.h
/unsigned_char_ptr_to_struct_linker_symbol_ptr_map.c
/unsigned_char_ptr_to_struct_linker_symbol_ptr_map.h
/unsigned_char_ptr_to_unsigned_char_ptr_map.c
/unsigned_char_ptr_to_unsigned_char_ptr_map.h
/unsigned_char_ptr_to_struct_constant_description_ptr_map.c
/unsigned_char_ptr_to_struct_constant_description_ptr_map.h
/unsigned_char_ptr_to_struct_macro_parameter_ptr_map.c
/unsigned_char_ptr_to_struct_macro_parameter_ptr_map.h
/unsigned_char_ptr_to_struct_macro_definition_ptr_map.c
/unsigned_char_ptr_to_struct_macro_definition_ptr_map.h
/unsigned_char_ptr_to_struct_special_macro_definition_ptr_map.c
/unsigned_char_ptr_to_struct_special_macro_definition_ptr_map.h
/unsigned_char_ptr_to_struct_namespace_object_ptr_map.c
/unsigned_char_ptr_to_struct_namespace_object_ptr_map.h
/unsigned_char_ptr_to_struct_build_target_ptr_map.c
/unsigned_char_ptr_to_struct_build_target_ptr_map.h
/struct_c_lexer_token_ptr_to_struct_c_lexer_token_ptr_map.c
/struct_c_lexer_token_ptr_to_struct_c_lexer_token_ptr_map.h
/struct_c_lexer_token_ptr_to_unsigned_char_ptr_map.c
/struct_c_lexer_token_ptr_to_unsigned_char_ptr_map.h
/char_list.c
/char_list.h
/char_ptr_list.c
/char_ptr_list.h
/unsigned_char_ptr_list.c
/unsigned_char_ptr_list.h
/unsigned_char_list.c
/unsigned_char_list.h
/unsigned_int_list.c
/unsigned_int_list.h
/unsigned_int_ptr_list.c
/unsigned_int_ptr_list.h
/void_ptr_list.c
/void_ptr_list.h
/struct_special_macro_definition_ptr_list.c
/struct_special_macro_definition_ptr_list.h
/struct_macro_definition_ptr_list.c
/struct_macro_definition_ptr_list.h
/struct_macro_parameter_ptr_list.c
/struct_macro_parameter_ptr_list.h
/struct_c_lexer_token_ptr_list.c
/struct_c_lexer_token_ptr_list.h
/struct_c_lexer_state_ptr_list.c
/struct_c_lexer_state_ptr_list.h
/struct_struct_c_lexer_token_ptr_list_ptr_list.c
/struct_struct_c_lexer_token_ptr_list_ptr_list.h
/struct_l2_lexer_token_ptr_list.c
/struct_l2_lexer_token_ptr_list.h
/struct_normalized_specifier_ptr_list.c
/struct_normalized_specifier_ptr_list.h
/struct_normalized_declarator_ptr_list.c
/struct_normalized_declarator_ptr_list.h
/struct_normalized_declaration_element_ptr_list.c
/struct_normalized_declaration_element_ptr_list.h
/struct_namespace_object_ptr_list.c
/struct_namespace_object_ptr_list.h
/struct_scope_level_ptr_list.c
/struct_scope_level_ptr_list.h
/struct_switch_frame_ptr_list.c
/struct_switch_frame_ptr_list.h
/struct_unsigned_char_list_ptr_list.c
/struct_unsigned_char_list_ptr_list.h
/struct_l2_item_ptr_list.c
/struct_l2_item_ptr_list.h
/struct_l2_lexer_state_ptr_list.c
/struct_l2_lexer_state_ptr_list.h
/struct_l2_parser_state_ptr_list.c
/struct_l2_parser_state_ptr_list.h
/struct_linker_file_ptr_list.c
/struct_linker_file_ptr_list.h
/struct_linker_symbol_ptr_list.c
/struct_linker_symbol_ptr_list.h
/struct_type_description_ptr_list.c
/struct_type_description_ptr_list.h
/struct_constant_description_ptr_list.c
/struct_constant_description_ptr_list.h
/struct_constant_initializer_level_ptr_list.c
/struct_constant_initializer_level_ptr_list.h
/struct_compile_time_constant_ptr_list.c
/struct_compile_time_constant_ptr_list.h
/struct_type_traversal_ptr_list.c
/struct_type_traversal_ptr_list.h
/struct_preprocessor_if_branch_ptr_list.c
/struct_preprocessor_if_branch_ptr_list.h
/struct_preprocessor_file_context_ptr_list.c
/struct_preprocessor_file_context_ptr_list.h
/struct_l0_item_list.c
/struct_l0_item_list.h
/struct_build_target_ptr_list.c
/struct_build_target_ptr_list.h
/struct_preprocessor_macro_level_ptr_list.c
/struct_preprocessor_macro_level_ptr_list.h
/struct_linker_object_ptr_list.c
/struct_linker_object_ptr_list.h
/struct_start_end_list.c
/struct_start_end_list.h
/struct_linker_region_list.c
/struct_linker_region_list.h
/unsigned_int_stack.c
/unsigned_int_stack.h
/struct_parser_operation_stack.c
/struct_parser_operation_stack.h
/struct_l2_parser_operation_stack.c
/struct_l2_parser_operation_stack.h
/struct_start_end_merge_sort.c
/struct_start_end_merge_sort.h
/struct_linker_file_ptr_merge_sort.c
/struct_linker_file_ptr_merge_sort.h
/unsigned_int_merge_sort.c
/unsigned_int_merge_sort.h
/struct_void_ptr_to_unsigned_int_key_value_pair_merge_sort.c
/struct_void_ptr_to_unsigned_int_key_value_pair_merge_sort.h
/struct_unsigned_char_ptr_to_struct_build_target_ptr_key_value_pair_merge_sort.c
/struct_unsigned_char_ptr_to_struct_build_target_ptr_key_value_pair_merge_sort.h
/struct_unsigned_char_ptr_to_unsigned_char_ptr_key_value_pair_merge_sort.c
/struct_unsigned_char_ptr_to_unsigned_char_ptr_key_value_pair_merge_sort.h
/struct_unsigned_char_ptr_to_struct_macro_parameter_ptr_key_value_pair_merge_sort.c
/struct_unsigned_char_ptr_to_struct_macro_parameter_ptr_key_value_pair_merge_sort.h
/struct_unsigned_char_ptr_to_struct_macro_definition_ptr_key_value_pair_merge_sort.c
/struct_unsigned_char_ptr_to_struct_macro_definition_ptr_key_value_pair_merge_sort.h
/struct_unsigned_char_ptr_to_struct_special_macro_definition_ptr_key_value_pair_merge_sort.c
/struct_unsigned_char_ptr_to_struct_special_macro_definition_ptr_key_value_pair_merge_sort.h
/struct_unsigned_char_ptr_to_struct_namespace_object_ptr_key_value_pair_merge_sort.c
/struct_unsigned_char_ptr_to_struct_namespace_object_ptr_key_value_pair_merge_sort.h
/struct_struct_c_lexer_token_ptr_to_struct_c_lexer_token_ptr_key_value_pair_merge_sort.c
/struct_struct_c_lexer_token_ptr_to_struct_c_lexer_token_ptr_key_value_pair_merge_sort.h
/struct_struct_c_lexer_token_ptr_to_unsigned_char_ptr_key_value_pair_merge_sort.c
/struct_struct_c_lexer_token_ptr_to_unsigned_char_ptr_key_value_pair_merge_sort.h
/struct_unsigned_char_ptr_to_struct_constant_description_ptr_key_value_pair_merge_sort.c
/struct_unsigned_char_ptr_to_struct_constant_description_ptr_key_value_pair_merge_sort.h
/struct_unsigned_char_ptr_to_struct_linker_symbol_ptr_key_value_pair_merge_sort.c
/struct_unsigned_char_ptr_to_struct_linker_symbol_ptr_key_value_pair_merge_sort.h
/struct_void_ptr_to_unsigned_int_key_value_pair_binary_search.c
/struct_void_ptr_to_unsigned_int_key_value_pair_binary_search.h
/struct_unsigned_char_ptr_to_struct_build_target_ptr_key_value_pair_binary_search.c
/struct_unsigned_char_ptr_to_struct_build_target_ptr_key_value_pair_binary_search.h
/struct_unsigned_char_ptr_to_unsigned_char_ptr_key_value_pair_binary_search.c
/struct_unsigned_char_ptr_to_unsigned_char_ptr_key_value_pair_binary_search.h
/struct_unsigned_char_ptr_to_struct_macro_parameter_ptr_key_value_pair_binary_search.c
/struct_unsigned_char_ptr_to_struct_macro_parameter_ptr_key_value_pair_binary_search.h
/struct_unsigned_char_ptr_to_struct_macro_definition_ptr_key_value_pair_binary_search.c
/struct_unsigned_char_ptr_to_struct_macro_definition_ptr_key_value_pair_binary_search.h
/struct_unsigned_char_ptr_to_struct_special_macro_definition_ptr_key_value_pair_binary_search.c
/struct_unsigned_char_ptr_to_struct_special_macro_definition_ptr_key_value_pair_binary_search.h
/struct_unsigned_char_ptr_to_struct_namespace_object_ptr_key_value_pair_binary_search.c
/struct_unsigned_char_ptr_to_struct_namespace_object_ptr_key_value_pair_binary_search.h
/struct_struct_c_lexer_token_ptr_to_struct_c_lexer_token_ptr_key_value_pair_binary_search.c
/struct_struct_c_lexer_token_ptr_to_struct_c_lexer_token_ptr_key_value_pair_binary_search.h
/struct_struct_c_lexer_token_ptr_to_unsigned_char_ptr_key_value_pair_binary_search.c
/struct_struct_c_lexer_token_ptr_to_unsigned_char_ptr_key_value_pair_binary_search.h
/struct_unsigned_char_ptr_to_struct_constant_description_ptr_key_value_pair_binary_search.c
/struct_unsigned_char_ptr_to_struct_constant_description_ptr_key_value_pair_binary_search.h
/struct_unsigned_char_ptr_to_struct_linker_symbol_ptr_key_value_pair_binary_search.c
/struct_unsigned_char_ptr_to_struct_linker_symbol_ptr_key_value_pair_binary_search.h
/unsigned_int_binary_search.c
/unsigned_int_binary_search.h
/struct_c_lexer_token_memory_pool.c
/struct_c_lexer_token_memory_pool.h
/struct_parser_node_memory_pool.c
/struct_parser_node_memory_pool.h
/struct_l2_parser_node_memory_pool.c
/struct_l2_parser_node_memory_pool.h
/struct_l2_lexer_token_memory_pool.c
/struct_l2_lexer_token_memory_pool.h
/struct_type_description_memory_pool.c
/struct_type_description_memory_pool.h
/struct_l2_item_memory_pool.c
/struct_l2_item_memory_pool.h
/struct_linker_symbol_memory_pool.c
/struct_linker_symbol_memory_pool.h
/void_ptr_memory_pool.c
/void_ptr_memory_pool.h
